.fancy-logo {
    color: #3adb76;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    opacity: 0.75;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
        transition-property: all;
        transition-duration: 0.25s;
        transition-timing-function: linear;
    min-height: 56px;
    height: 56px;
    line-height: 56px;
}